@model WebChat.Models.ChatModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ChatRoom</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
    @Html.ActionLink("ChatRoom", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</div>
</th>
<th>
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
    @Html.ActionLink("Bulletin board", "IndexPost", "Posters", new { area = "" }, new { @class = "navbar-brand" })
</div>

<div id="Username">
</div>
<div id="LastRefresh">
</div>
<div id="container">
    <div id="loginBlock">
        Enter you name :
        <input type="text" id="txtUserName"/>
        <button id="btnLogin" value="Join">Join</button>
    </div>
</div>
<div id="Error">
</div>
@Ajax.ActionLink("Login", "Index", new {user = ""},
    new AjaxOptions {UpdateTargetId = "container", OnFailure = "LoginOnFailure", OnSuccess = "LoginOnSuccess"},
    new {@id = "LoginButton", @style = "visibility:hidden;"})

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Scripts/chat.js")
</body>
</html>
