@model IEnumerable<WebChat.Models.Poster>

@{
    ViewBag.Title = "Bulletin board";
}

<h2>Bulletin board</h2>

<p>
    @Html.ActionLink("Write an advertisement", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Advert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Advert)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>

        <td>
            @Html.ActionLink("Take off", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
